<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="landing container">
        <h1 class="landing-header">Welcom To Flash Memo APP 🧠</h1>
      <a href="/accounts/sign-in" class="btn btn-primary sign-in-btn">Sign In</a>
      <a href="/accounts/sign-up" class="btn btn-secondary sign-up-btn">Sign Up</a>
    </div>
  </body>
</html>
