<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs',{userId}) %>
   <section class="card-container">
        <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <h3 class="study-card-front"></h3>
            </div>
            <div class="card-back">
                <h3 class="study-card-back"></h3>
            </div>
        </div>
    </div>
    <button class="btn btn-primary flib-card-face">Flip Card</button>

    <div class="card-controllers">
    <button class="btn btn-primary next-card" data-userId = "<%=userId%>"  data-deckId = "<%=deckId%>">Next Card ⏭️</button>
    </div>
    </section>
    <script src="/scripts/studyCards.js"></script>
  </body>
</html>
